{% extends "admin/base_site.html" %}
{% load i18n %}
{% load i18n admin_urls static admin_modify %}
{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">{% endblock %}
{% block content %}
        <br>
    <table>
        <thead>
            <th>{% translate 'User comment' %}</th>
            <th>{% translate 'Keywords' %}</th>
        </thead>
        <tbody>
            {% for element in data %}
                <tr>
                    <td>
                        {% for sentence in element.0 %}
                            {% if sentence.1 == 1 %}
                                <b>{{ sentence.0 }} </b>
                            {% else %}
                                {{ sentence.0 }}
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>{{ element.1 }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <br>
    <hr>
    <br>
    <br>
    <div class="colM" style="width:100%;">
        <fieldset class="module aligned">
            <form action="{% url 'admin:save_new_solution' group_id=group_id %}" method="POST" enctype="multipart/form-data" id="solution_form">
            {% csrf_token %}
            {% for field in create_solution_form %}
                <div class="form-row field" >
                    <div>
                        <label>{{ field.label }}</label>
                        {{ field }}
                    </div>
                </div>
            {% endfor %}
            <br>
            <input type="submit" name="confirm" value="{% translate 'Save' %}">
            </form>
        </fieldset>
    </div>

{% endblock %}
